@font-face {
    font-family: 'Nunito-Sans';
    src: url('../fonts/NunitoSans-Italic-VariableFont_YTLC\,opsz\,wdth\,wght.woff')
    format('woff-variations');
    src: url('../fonts/NunitoSans-Italic-VariableFont_YTLC\,opsz\,wdth\,wght.woff')
    format('woff') tech('variations');
    font-weight:300 700;
}
@font-face {
    font-family: 'WorkSans-Light';
    src: url('../fonts/WorkSans-Light.woff') format('woff');
    font-style: normal;
    font-display: swap;
    font-weight:300;
}
@font-face {
    font-family: 'WorkSans-Regular';
    src: url('../fonts/WorkSans-Regular.woff') format('woff');
    font-style: normal;
    font-display: swap;
    font-weight:400;
}
@font-face {
    font-family: 'WorkSans-Medium';
    src: url('../fonts/WorkSans-Medium.woff') format('woff');
    font-style: normal;
    font-display: swap;
    font-weight:500;
}
@font-face {
    font-family: 'WorkSans-SemiBold';
    src: url('../fonts/WorkSans-SemiBold.woff') format('woff');
    font-style: normal;
    font-display: swap;
    font-weight:600;
}

body{
    font-size: 16px;
    color: #0e0e0e;
    background-color: #fdfdf0;
    line-height: 1.35;
    font-family:'Nunito-Sans', sans-serif;
    font-weight: 400;
}

.container{
    max-width: 1440px;
    padding: 0 10px;
    margin: 0 auto ;
}


.container-big{
    max-width: 1820px;
    padding: 0 10px;
    margin: 0 auto ;
}


.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    font-weight: 500;
}

.menu__list{
    display: flex;
    gap: 30px;
    text-transform: uppercase;
}
 
.header__contacts{
    text-transform: uppercase;
    padding: 10px 40px;
    display: inline-block;
    background-color: #0e0e0e;
    color: #fff;
    border-radius: 50px;
}


.about{
    margin-bottom: 180px;
}

.about__top{
    text-align: center;
    color: #fdfdf0;
    background-image: url(../img/back.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 748px;
    text-transform: uppercase;

}


.about__title{
    font-family:'WorkSans-Regular';
    font-size: 250px;
    line-height: 1;
    font-weight: 600;
    padding-top: 70px;
    margin: 0;
}


.about__text{
    font-weight: 500;
    font-size: 32px;
    line-height: 1.2;
    font-family:'WorkSans-Medium';
}

.about__achivements{
    display: flex;
    justify-content: space-between;
    margin-top: -55px;
    margin-bottom: 90px;
}

.about__achivement{
    border-radius: 20px;
    background-color: #f4f4f7;
    max-width: 580px;
}